{% extends 'template.html' %}
{% block template %}
    <br>
    <div class="header">
        <h1>Honoring Lives <br> Cherishing<br><span style="color: #FC0D0D9E;">Memories</span></h1>
    </div>
    <div class="text">

        <div>
            <img src="../static/candles.jpg">
            <p>Tsianidi is a trusted name in providing compassionate funeral services. With utmost care and attention, we honor the lives of your loved ones, offering personalized arrangements to create meaningful and heartfelt farewells. Our dedicated team is here to support you during this challenging time, guiding you through the process with empathy and professionalism. At Tsianidi, we cherish the memories, ensuring each service reflects the unique journey and legacy of your cherished family member.</p>
        </div>

        <div>
            <h3>Compassionate support personalized<br><span style="color: rgba(252, 13, 13, 0.62);">farewells</span></h3>
            <p>Tsianidi Funeral Services is a compassionate and dedicated provider, committed to helping families navigate the difficult process of saying goodbye to their loved ones. With a deep understanding of the profound impact of loss, we offer personalized and meaningful funeral arrangements that honor and celebrate the unique lives and legacies of those we have lost. Our caring team is here to support you every step of the way, providing guidance, comfort, and attention to detail.At Tsianidi, we believe in cherishing and preserving the memories, creating a warm and nurturing environment where families can find solace and healing during this challenging time. Trust us to handle every aspect of the funeral process with the utmost professionalism, respect, and compassion.</p>
        </div>

    </div>
{%endblock%}